# Python
__pycache__/
*.py[cod]
*.log

# Django / DB
db.sqlite3

# Virtual env
.venv/

# OS / editor
.vscode/
Thumbs.db
.DS_Store

# Env
.env
.env.*

# Collected static files
staticfiles/

# Testing outputs
evidence/testing/*.csv